.pubic-all-jobs{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #311c5c;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}

/*  */


.pubic-all-Jobs-filters{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 20%;
}

.pubic-all-Jobs-filters-wrapper{
    border: 1px solid rgb(117, 117, 117);
    border-radius: 8px;
    padding: 8px 12px;
}

.pubic-all-Jobs-filters-wrapper>p{
    color: white;
    font-size: 27px;
    font-weight: 500;
    margin-bottom: 15px;
}

.pubic-all-Jobs-filters-wrapper div{
    position: relative;
    display: flex;
    flex-direction: row;
    left: 10px;
    margin-bottom: 8px;
    gap: 12px;
}

.pubic-all-Jobs-filters-wrapper div p{
    color: rgb(219, 219, 219);
}

.pubic-all-Jobs-filters-wrapper div input[type="radio"] {
    background-color: rgb(202, 202, 202) !important;
    appearance: none; /* Remove default checkbox appearance */
    -webkit-appearance: none; /* For Safari */
    border-radius: 4px !important;
    height: 17px;
    width: 17px;
    outline: none;
    border: 1px solid transparent;
    cursor: pointer;
}
.pubic-all-Jobs-filters-wrapper div input[type="radio"]:checked{
    background-color: #500cda !important;
    background-image: url('../../../assets/icons8-tick-24.png');
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat, repeat;
    background-position: center;
}


.pubic-all-Jobs-banner{
    background-image: url(../../../assets/Banner1.png);
    background-repeat: no-repeat, repeat;
    background-position: center;
    height: 35vh;
    width: 100%;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
}

.pubic-all-Jobs-banner>div{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 80%;
    margin: auto;
    bottom: 20px;
    gap: 10px;
}

.pubic-all-Jobs-banner>div>p{
    color: white;
    font-size: 34px;
    font-weight: 600;
}

.pubic-all-Jobs-banner>div>span{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.pubic-all-Jobs-banner>div>span>p{
    text-decoration: underline;
}
.pubic-all-Jobs-banner>div>span{
    color: rgb(230, 229, 229);
}

.pubic-all-Jobs-banner>div>span>a{
    color: rgb(238, 238, 238);
    text-decoration: none;
}

/*  */
.pubic-all-Jobs-container{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 90%;
    padding-top: 90px;
    padding-bottom: 60px;
}

.pubic-all-Jobs-list-style{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pubic-all-Jobs-list-style>p{
    color: rgb(219, 219, 219);
    font-size: 19px;
}

.pubic-all-Jobs-list-style>div{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.pubic-all-Jobs-list-style div div>svg{
    color: rgb(255, 255, 255);
    border: 1px solid rgb(105, 105, 105);
    border-radius: 4px;
    padding: 4px 4px;
    cursor: pointer;
    transition: all 500ms;
}

.pubic-all-Jobs-list-style>div div>svg:hover{
    border: 1px solid rgb(187, 187, 187);
}

.pubic-all-Jobs-list{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 8px 12px;
    width: 75%;
    /* border: 1px solid rgb(117, 117, 117); */
    gap: 25px;
}

/* public-all-Jobs-jobs-list-container */


.public-all-Jobs-jobs-list-container{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    
}

.public-all-Jobs-jobs-list-wrapper{
    width: 32%;
    max-height: 90vh;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.public-all-Jobs-jobs-list{
    width: 380px;
    border: 1px solid rgba(255, 255, 255, 0.137);
    padding: 12px 12px;
    background-color: #381D74;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    cursor: pointer;
    transition: all 500ms;
}

.public-all-Jobs-jobs-list-active{
    width: 380px;
    border: 1px solid rgba(255, 255, 255, 0.137);
    padding: 12px 12px;
    background-color: #2a1063;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    cursor: pointer;
    transition: all 500ms;
}
.public-all-Jobs-jobs-list:hover{
    background-color: #2a1063;
}

.public-all-Jobs-jobs-list>p{
    color: rgba(255, 255, 255, 0.829);
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
}


.public-all-Jobs-jobs-list-company-detail{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 7px;
    margin-bottom: 14px;
    gap: 4px;
}

.public-all-Jobs-jobs-list-company-detail>p{
    color: rgba(255, 255, 255, 0.726);
    font-size: 13px;
}

.public-all-Jobs-jobs-list-company-detail>span{
    color: rgba(255, 255, 255, 0.726);
    font-size: 13px;
}



.public-all-Jobs-jobs-list>span{
    color: rgba(255, 255, 255, 0.808);
    font-size: 15px;
}


.public-all-Jobs-jobs-list-hr-details{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    margin-top: 10px;
}

.public-all-Jobs-jobs-list-hr-details>img{
    width: 40px;
    border-radius: 100px;
}

.public-all-Jobs-jobs-list-hr-details>span{
    color: rgba(255, 255, 255, 0.795);
    font-size: 13px;
}

/* public-all-Jobs-jobs-job-detail-container */
.public-all-Jobs-jobs-job-detail-container{
    position: relative;
    max-height: 90vh;
    width: 67.6%;
}

.public-all-Jobs-jobs-job-detail{
    border: 1px solid white;
    border: 1px solid rgba(255, 255, 255, 0.137);
    background-color: #381D74;
    width: 94%;
    height: 85.5vh;
    max-height: 85.5vh;
    padding: 20px 25px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto;
    overflow-x: hidden;
}

.public-all-Jobs-jobs-job-detail>p{
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
}

.public-all-Jobs-jobs-job-detail-company{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}

.public-all-Jobs-jobs-job-detail-company>p{
    color: rgba(255, 255, 255, 0.747);
    font-size: 15px;
}

.public-all-Jobs-jobs-job-detail-company>span{
    color: rgba(255, 255, 255, 0.747);
    font-size: 15px;
}

.public-all-Jobs-jobs-job-detail-general{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 10px;
}

.public-all-Jobs-jobs-job-detail-general>p{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 12px;
    color: white;
    align-items: center;
    justify-content: flex-start;
}   

/* rgba(218, 218, 247, 0.418) */

.public-all-Jobs-jobs-job-detail-general>p span{
    background-color: rgba(218, 218, 247, 0.418);
    border-radius: 28px;
    padding: 3px 12px;
}

.public-all-Jobs-jobs-job-detail-desc{
    position: relative;
    width: 97%;
    color: white;
    font-size: 18px;
    margin-top: 12px;
    margin-bottom: 20px;
    min-height: 38vh;
    left: 20px;
}

.public-all-Jobs-jobs-job-detail-hr{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.public-all-Jobs-jobs-job-detail-hr>img{
    width: 60px;
    border-radius: 100px;
}

.public-all-Jobs-jobs-job-detail-hr>span{
    color: white;
    font-size: 17px;
}

.public-all-Jobs-jobs-job-detail-button{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.public-all-Jobs-jobs-job-detail-button>button{
    background-color: rgba(218, 218, 247, 0.418);
    border: none;
    outline: none;
    color: white;
    border-radius: 100px;
    padding: 12px 25px;
    font-size: 18px;
    cursor: pointer;
    transition: all 500ms;
}

.public-all-Jobs-jobs-job-detail-button>button:hover{
    background-color: rgba(218, 218, 247, 0.61);
}