.change-pass-popup-content{
    height: 440px;
    min-width: 450px !important;
    background-color: #141622 !important;
    border-radius: 12px !important;
    border: 1px solid rgba(255, 255, 255, 0.418);
    padding: 8px 12px !important;
}

.profile-change-password-container{
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.profile-change-password-header{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.profile-change-password-header>p{
    color: white;
    font-size: 21px;
    font-weight: 500;
}

.profile-change-password-header>button{
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

.profile-change-password-header>button>svg{
    background-color: tomato;
    color: white;
    padding: 8px 8px;
    border-radius: 100px;
}

.profile-change-password-dev{
    position: relative;
    width: 90%;
    align-items: flex-start;
    top: 40px;
}

.profile-change-password-dev>form button{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 20px;
    margin: auto;
    padding: 8px 15px;
    border-radius: 12px;
    background-color: tomato;
    outline: none;
    border: none;
    color: white;
    font-size: 17px;
    cursor: pointer;
    transition: all 500ms;
}

.profile-change-password-dev>form button:hover{
    background-color: rgb(230, 71, 43);
}

.profile-change-password-dev>form strong{
    position: relative;
    top: 40px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: tomato;
    font-weight: 300 !important;
}


.profile-change-password-dev-a {
    width: 100%;
    padding: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .profile-change-password-dev-a > label {
    font-size: 15px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.61);
    
  }
  
  .profile-change-password-dev-a > input {
    padding: 14px 8px;
    height: 1rem;
    border-radius: 12px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.459);
    outline: none;
    color: white;
    font-size: 16px;
  }


.profile-change-password-dev-b-container{
    position: relative;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}