.profile-change-password-dev-a {
  width: 100%;
  padding: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.profile-change-password-dev-a > label {
  font-size: 15px;
  font-weight: 500;
}

.profile-change-password-dev-a > input {
  padding: 0.5rem;
  height: 1rem;
}
