.courses-cart-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #311c5c;
    width: 100%;
}

.courses-cart-wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 85%;
    align-items: center;
    justify-content: flex-start;
    margin-top: 100px;
    margin-bottom: 80px;
    min-height: 80vh;
}


.courses-cart-wrapper>p{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    font-size: 26px;
    font-weight: 600;
}

.courses-cart{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    margin-top: 60px;
}

.courses-cart-loader{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 20vh;
}

/*  */
.courses-cart-items{
    background-color: #381D74;
    width: 72%;
    border-radius: 28px;
    min-height: 20vh;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
}

.courses-cart-items-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.courses-cart-item{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 95%;
    border: 1px solid rgba(255, 255, 255, 0.432);
    border-radius: 28px;
    padding: 10px 20px;
}

.courses-cart-item-wrapper{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 25px;
}
.courses-cart-item-wrapper>img{
    width: 10%;
    border-radius: 5px;
}

.courses-cart-heading{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.courses-cart-heading>a{
    color: rgba(255, 255, 255, 0.822);
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
    text-transform: capitalize;
}

.courses-cart-heading>div{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.courses-cart-heading>div>p{
    color: white;
    text-transform: capitalize;
    width: 200px;
}

.courses-cart-heading>div>p>span{
    color: rgba(255, 255, 255, 0.486);
}

.courses-cart-heading>div>span{
    color: white;
    font-size: 16px;
    font-weight: 400;
    background-color: #7F56D9;
    padding: 5px 10px;
    border-radius: 50px;
}


.courses-cart-item-button-one{
    position: relative;
    display: flex;
    height: 38px;
    width: 40px;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    color: white;
    background-color: rgb(57, 179, 32);
    padding: 10px 10px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 500ms;
    right: 20px;
}

.courses-cart-item-button{
    position: relative;
    display: flex;
    height: 38px;
    width: 40px;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    color: white;
    background-color: tomato;
    padding: 10px 10px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 500ms;
}

.courses-cart-item-button:hover{
    transform: scale(1.02);
    background-color: rgb(255, 78, 47);
}

.courses-cart-item-button-one:hover{
    transform: scale(1.02);
    background-color: rgb(10, 124, 6);
}

/*  */


.courses-cart-checkout{
    background-color: #381D74;
    width: 19%;
    border-radius: 28px;
    min-height: 20vh;
    padding: 20px 10px;
}

.courses-cart-checkout-container{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.courses-cart-checkout-container>p{
    width: 100%;
    display: flex;
    align-items: flex-start;
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.courses-cart-checkout-item{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 95%;
    gap: 30px;
}   

.courses-cart-checkout-item-courses, .courses-cart-checkout-container-tax{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.568);
    padding-bottom: 12px;
}

.courses-cart-checkout-item-courses>p, .courses-cart-checkout-container-tax>p{
    color: rgba(255, 255, 255, 0.904);
    font-size: 16px;
}

.courses-cart-checkout-item-courses>span, .courses-cart-checkout-container-tax>span{
    color: rgba(255, 255, 255, 0.904);
    font-size: 16px;
}


.courses-cart-checkout-container-total{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;
}

.courses-cart-checkout-container-total>p{
    color: white;
    font-size: 17px;
}

.courses-cart-checkout-container-total>span{
    color: white;
}

.courses-cart-checkout-btn{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: #7F56D9;
    border-radius: 50px;
    padding: 12px 2px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    gap: 5px;
    transition: all 500ms;
}

.courses-cart-checkout-btn:hover{
    transform: scale(1.02);
    background-color: tomato;
}


.empty-cart{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 100px;
    gap: 50px;
}

.empty-cart>p{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 10px;
    font-size: 24px;
    font-weight: 500;
}

.empty-cart>p>svg{
    background-color: #7F56D9;
    border-radius: 70px;
    padding: 24px 24px;
}

.empty-cart>a{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: #7F56D9;
    border-radius: 50px;
    padding: 12px 20px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    gap: 5px;
    transition: all 500ms;
}

.empty-cart>a:hover{
    transform: scale(1.02);
    background-color: tomato;
}