.admin-container{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    min-height: 100vh;
    height: max-content;
    background-color: #0A2647;
}

.admin-dashboard-sidebar {
  width: 15%;
  position: fixed;
}

.admin-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 81%;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 0%;
  left: 160px;
}
