.admin-container{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    min-height: 100vh;
    height: max-content;
    background-color: #0A2647;
}

.admin-dashboard-sidebar {
  width: 15%;
  position: fixed;
}

.admin-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 82%;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 0%;
  left: 160px;
}


.not-allowd-heading{
  position: relative;
  top: 200px;
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
}


/* admin-dashboard-charts */



.admin-dashboard-charts{
  position: relative;
  width: 100%;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-bottom: 40px;
}

.admin-dashboard-top-box{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 94%;
}

.admin-dashboard-top-box div{
  border: 1px solid rgba(255, 255, 255, 0.377);
  border-radius: 20px;
  padding: 10px 12px 2px 12px;
  height: 100px;
  width: 320px;
  padding: 8px 12px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.admin-dashboard-top-box div>p{
  font-size: 18px;
  color: white;
  font-weight: 600;
}

.admin-dashboard-top-box div>span{
  font-size: 21px;
  color: white;
  font-weight: 600;
}


.admin-dashboard-charts-wrapper-1{
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: flex-start;
  justify-content: space-evenly;
}

.admin-dashboard-charts-CourseRevenueAnalytics{
  position: relative;
  width: 45%;
  border: 1px solid rgba(255, 255, 255, 0.377);
  border-radius: 20px;
  padding: 10px 12px 2px 12px;
}

.admin-dashboard-charts-CourseRevenueAnalytics>div>p{
  color: white;
  font-size: 18px;
}
.admin-dashboard-charts-IncomeByMonthChart{
  position: relative;
  display: flex;
  width: 45%;
  border: 1px solid rgba(255, 255, 255, 0.377);
  border-radius: 20px;
  padding: 10px 12px 22px 12px;
}

.admin-dashboard-charts-IncomeByMonthChart>div{
  width: 100%;
}

.admin-dashboard-charts-IncomeByMonthChart>div>p{
  color: white;
  font-size: 18px;
}

.admin-dashboard-charts-CoursesViewsAnalytics{
  width: 94%;
  border: 1px solid rgba(255, 255, 255, 0.377);
  border-radius: 20px;
  padding: 10px 12px 22px 12px;
}

.admin-dashboard-charts-CoursesViewsAnalytics>div{
  width: 100%;
}


.admin-dashboard-charts-CoursesViewsAnalytics>div>p{
  color: white;
  font-size: 18px;
}