.hrcreatejob{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #1B1D29;
}

.hrcreatejob-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    min-height: 90vh;
    max-height: max-content;
    margin-top: 90px;
    margin-bottom: 100px;
}

.hrcreatejob-all-jobs{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.hrcreatejob-all-jobs>a{
    position: relative;
    background-image: linear-gradient(to right, #B24592 0%, #F15F79  51%, #B24592  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #252138;
    border-radius: 10px;
    display: block;
    text-decoration: none;
    cursor: pointer;
    border: none !important;
}

.hrcreatejob-all-jobs>a:hover{
    transform: scale(1.01);
    background-position: right center; 
    color: #fff;
    text-decoration: none;
}

.hrcreatejob-form{
    position: relative;
    width: 96%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #141622;
    margin-top: 40px;
    border-radius: 12px;
    padding: 40px 24px;
    gap: 80px;
}

/* hrcreatejob-form-wrapper */
.hrcreatejob-form-wrapper{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    gap: 80px;
    justify-content: flex-start;
}

.hrcreatejob-form-input-type1, 
.hrcreatejob-form-input-type2,
.hrcreatejob-form-input-type3,
.hrcreatejob-form-input-type4,
.hrcreatejob-form-input-desc{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.hrcreatejob-form-input-type5{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.hrcreatejob-form-input-type1>p,
.hrcreatejob-form-input-type2>p,
.hrcreatejob-form-input-type3>p,
.hrcreatejob-form-input-type4>p,
.hrcreatejob-form-input-type5>p,
.hrcreatejob-form-input-desc>p{
    color: rgba(255, 255, 255, 0.808);
}

.hrcreatejob-form-input-type1>p>span,
.hrcreatejob-form-input-type2>p>span,
.hrcreatejob-form-input-type3>p>span,
.hrcreatejob-form-input-type4>p>span,
.hrcreatejob-form-input-type5>p>span,
.hrcreatejob-form-input-desc>p>span{
    color: tomato;
}

.hrcreatejob-form-input-type1>input{
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(133, 133, 133);
    color: white;
    width: 500px;
    padding: 3px 5px;
}

.hrcreatejob-form-input-type2>input,
.hrcreatejob-form-input-type5>input{
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(133, 133, 133);
    color: white;
    width: 300px;
    padding: 3px 5px;
}

.hrcreatejob-form-input-type3 select{
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(133, 133, 133);
    color: white;
    width: 300px;
    padding: 3px 5px;
    cursor: pointer !important;
}

.hrcreatejob-form-input-type3 select option{
    background-color: #141622;
    padding: 4px 3px !important;
    cursor: pointer !important;
}

.hrcreatejob-form-input-type4 .stdropdown-container{
    border: none;
    border-bottom: 1px solid rgb(133, 133, 133);
    border-radius: 0%;
    width: 300px;
}

.hrcreatejob-form-input-type4  .stdropdown-input input{
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
}

.stdropdown-tools{
    display: none;
}

.hrcreatejob-form-input-desc{
    width: 100%;
    margin-bottom: 20px;
}

.hrcreatejob-form-input-desc .ql-toolbar.ql-snow{
    border: 1px solid rgb(133, 133, 133);
}

.hrcreatejob-form-input-desc .ql-container.ql-snow{
    border: 1px solid rgb(133, 133, 133);
    min-height: 200px;
    color: white;
}

.hrcreatejob-submit{
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}

.hrcreatejob-submit>input{
    position: relative;
    background-image: linear-gradient(to right, #B24592 0%, #F15F79  51%, #B24592  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #252138;
    border-radius: 10px;
    display: block;
    text-decoration: none;
    cursor: pointer;
    border: none !important;
}

.hrcreatejob-submit>input:hover{
    transform: scale(1.01);
    background-position: right center; 
    color: #fff;
    text-decoration: none;
}
