.admin-sidebar{
    width: 100%;
    height: 200vh;
    background-color: #0A2647;
    box-shadow: rgba(161, 161, 161, 0.15) 2.4px 2.4px 3.2px;
}

.admin-sidebar-container {
  position: relative;
  top: 70px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  gap: 50px;
}

.admin-sidebar-container > p {
  color: white;
  font-size: 40px;
  font-weight: 700;
}

.admin-sidebar-tabs {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.admin-sidebar-tabs a{
    background-image: linear-gradient(to right, #B24592 0%, #F15F79  51%, #B24592  100%);
    color: rgb(255, 255, 255);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #4b4747;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    gap: 12px;
}


.admin-sidebar-tabs a svg{
    width: 24px;
    height: 24px;
    color: rgb(226, 226, 226);
}

.admin-sidebar-tabs a:hover{
    transform: scale(1.01);
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
